%h1.title Accounts

.toolbar
  = link_to "New Account", new_user_path

%table.users.list
  %thead
    %tr
      %th Username
      %th Role
      %th Actions
  %tbody
    - @users.each do |user|
      %tr{ :id => "user-#{user.id}" }
        %td= user.username
        %td= user.role
        %td
          = link_to "Edit", edit_user_path(user)
          |
          = link_to "Destroy", user, :method => :delete