- if @article.nil?
  %h1.title History
- else
  %h1.title History - #{@article.title}

- unless @article.nil?
  .toolbar
    = link_to "Back to article", @article

%table.list
  %thead
    %tr
      %th Version
      %th Title
      %th Commit message
      %th Changes by
      %th Date

  %tbody
    - @versions.each do |version|
      %tr{ :id => "version-#{version.id}" }
        %td= version.index
        %td= link_to (version.next.try(:reify) || version.item).title, article_version_path(version.item, version)
        %td= version.commit_message
        %td= version.created_by.username
        %td=l version.created_at, :format => :short