= simple_form_for @article do |f|
  = f.input :title
  = f.input :body
  = f.input :tag_list, :hint => "Enter the tags associated to this article here", :input_html => { :"data-pre" => @article.tags.to_json }
  = f.input :last_commit_message, :hint => "Describe your changes here"

  .actions
    = f.button :submit

.cheatsheet
  :markdown
    ## Syntax Cheatsheet

    ### Phrase Emphasis

        *italic*  **bold**
        _italic_  __bold__

    ### Links

    Inline:

        An [example](http://url.com/ "Title")

    Reference-style labels (titles are optional):

        An [example][id]. Then anywhere else in the doc, define the link:

          [id]: http://example.com "Title"

    ### Images

    Inline:

        ![alt text](/path/img.jpg "Title")

    Reference-style
        ![alt text][id]

        [id]: /url/to/img.jpg "Title"

    ### Headers

    Setext-style

        Header 1
        ========

        Header 2
        --------

    Atx-style (closing # are optional)
        # Header 1 #

        ## Header 2 ##

        ###### Header 6

    ### Lists

    Order without pragraphs:

        1. Foo
        2. Bar

    Unordered, with paragraphs:

        * A list item

          With multiple paragraphs

        # Bar

    You can nest them:
        * Abacus
          * answer
        * Bubbles
          1. bunk
          2. bupkis
            * BELITTLER
          3. burper
        * Cunning

    ### Blockquotes

        > Email-style angle brackets
        > are used for blockquotes

        > > And they can be nested

        > #### Headers in blockquotes
        >
        > * You can quote a list
        > * Etc

    ### Code spans

        `<code>` spans are delimeted by backtickts.

        You can include literal backticks like `` `this` ``

    ### Preformatted Code Blocks

    Indent every line of a code block by at least 4 spaces or 1 tab.

        This is preformatted code block

    ### Horizontal Rules

    Three or more dashes or asterisks:

        ---

        ***

        ----

    ### Manual Line Breaks

        End a line with two or more spaces:

        Roses are reds,
        Violets are blue.