%h1 #{@tag.blank? ? 'Articles' : @tag.name + ' - Articles'}

- if signed_in? and @tag.blank?
  .toolbar
    = link_to 'New Article', new_article_path

= render 'articles', :articles => @articles

- if signed_in? and current_user.admin?
  - unless @unpublished_articles.empty?
    %br

    %h1 #{@tag.blank? ? 'Unpublished Articles' : @tag.name + ' - Unpublished Articles'}
    = render 'articles', :articles => @unpublished_articles