.toolbar
  = link_to 'History', article_versions_path(@article)

  - if signed_in?
    = link_to 'Edit', edit_article_path(@article)

    - if current_user.admin?
      = link_to 'Destroy', @article, :method => :delete

  = link_to 'Back to articles', articles_path

.article
  %h1.title= @article.title
  - unless @article.body.blank?
    .body= markdown @article.body
